<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Plane_Ticket.Properties.Settings.PLANE_TICKET_NEWConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=PLANE_TICKET_NEW;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Plane_Ticket.Properties.Settings.PLANE_TICKETConnectionString1"
            connectionString="Data Source=DESKTOP-R12S0RV\SQLBOS;Initial Catalog=PLANE_TICKET;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="Plane_Ticket.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-R12S0RV\SQLBOS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
